<!DOCTYPE html>
<html>
<head>
  <title>게시글 작성</title>
</head>
<body>
<h1>새 게시글 작성</h1>
<form th:action="@{/posts/{postId}/update(postId=${post.id})}" method="post">
  <label for="title">제목</label>
  <input type="text" id="title" name="title" th:value="${post.title}" required>
  <br>
  <label for="contents">내용</label>
  <textarea id="contents" name="contents" th:text="${post.contents}" required></textarea>
  <br>
  <button type="submit">수정</button>
</form>
<a th:href="@{/posts/{postId}(postId=${post.id})}">돌아가기</a>
</body>

</html>
