<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th>#</th>
    <th>id</th>
    <th>수정일</th>
    <th>버전명</th>
    <th>수정자</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop through the versions list -->
  <tr th:each="version, iterStat : ${versions}">
    <td th:text="${iterStat.count}">1</td>
    <td th:text="${version.createdAt}">2024-12-28</td>
    <td th:text="${version.pediaVersionCode}">1-0.1</td>
    <td th:text="${version.editer}">수정자</td>
    <td>
      <a th:href="@{'/pedia/version/' + ${version.pediaVersionCode}}">View Details</a>    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
