<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>멍피디아 - 견종등록</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="container_1">
  <div class="board-container_1">
    <div class="board-header">
      <h1 class="board-title">피디아 백과</h1>
      <!-- <div class="board-actions"></div>-->
    </div>
    <table border="1">

      <form action="/registerOnlyBreed" method="post" enctype="multipart/form-data">
        <h4 style="padding-bottom: 30px">견종을 추가해주세요</h4>
        <input type="text" name="breed" placeholder="품종"><br>
        <button type="submit">등록</button>
      </form>
    </table>

  </div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>